@import "~antd/dist/antd.less";
html,
body {
  padding: 0;
  margin: 0;
  font-family: SFProText, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.logo {
  height: 85px;
}
.ant-menu-item {
  height: 56px !important;
}
.site-layout .site-layout-background {
  background: #fff;
}
@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  } */
}
// .contact-form input {
//   height: 48px !important;
// }
.ant-upload.ant-upload-select-picture-card {
  width: 100% !important;
  min-height: 400px;
}
.ant-dropdown {
  top: 59px !important;
}
@media only screen and (max-width: 739px) {
  .contact {
    display: none;
  }
  .ant-space-item img {
    display: none;
  }
  .ant-space-item {
    font-size: 10px;
  }
  .ant-space-item span {
    font-size: 10px;
  }
}
.ant-card-meta-detail {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.image-uploader {
  display: inline-block;
  width: 100%;
  margin-top: 48px;
}
.ant-upload {
  width: 100%;
  min-height: 400px;
}
.upload-wrapper {
  padding: 47px 16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
}
.upload-area {
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  text-align: center;
  vertical-align: top;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color 0.3s;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:hover {
    border-color: #ec1c2a;
  }
}
.result-wrapper {
  background: #1d1e22;
  color: #fff;
  padding: 24px;
  position: relative;
}
.field-name {
  color: hsla(0, 0%, 100%, 0.34);
}
.demo-wrapper .demo-result .note {
  background: #1d1e22;
  border-radius: 4px;
  color: #fff;
  padding: 0 20px;
  align-items: center;
  display: flex;
  height: 454px;
  justify-content: center;
  text-align: center;
}
.upload-wrapper {
  padding: 0px;
}
.demo-result {
  margin-top: 48px;
}
.error {
  height: 454px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #1d1e22;
}
