@import "~antd/dist/antd.less";
html,
body {
  padding: 0;
  margin: 0;
  font-family: SFProText, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.logo {
  height: 85px;
}
.ant-menu-item {
  height: 56px !important;
}
.site-layout .site-layout-background {
  background: #fff;
}
@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  } */
}
// .contact-form input {
//   height: 48px !important;
// }
.ant-upload.ant-upload-select-picture-card {
  width: 100% !important;
  min-height: 400px;
}
.ant-dropdown {
  top: 59px !important;
}
@media only screen and (max-width: 739px) {
  .contact {
    display: none;
  }
  .ant-space-item img {
    display: none;
  }
  .ant-space-item {
    font-size: 10px;
  }
  .ant-space-item span {
    font-size: 10px;
  }
}
